form {
	display: flex;
	justify-content: center;
	text-align: center;
}

form fieldset {
	display: flex;
	padding: 1.5em;
}

form input {
	width: 100%;
	margin: 0.75em 0;
	padding: 0.75em 6em;
	box-sizing: border-box;
}

form input.last {
	margin: 0;
	margin-top: 0.75em;
}

form input.first {
	margin: 0;
	margin-bottom: 0.75em;
}
